[Unit]
Description=t-rex_minning
After=network.target

[Service]
ExecStart=/minning/t-rex_demon/luncher_miner.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=default.target
